<section class="px-4 py-12 md:py-16 sm:px-6 lg:px-8">
	<p class="inline-flex items-center justify-center px-6 py-2 text-sm font-medium tracking-wide text-white rounded-r-full rounded-tl-full bg-gradient-to-r from-dark-600 to-dark-700">My Experience</p>
	<h2 class="text-6xl font-extrabold mt-4 mb-12 text-white">In the past</h2>
	<div class="pb-12 mt-12 border-b-[0.5px] border-dark-500">
		<div class="flex flex-col md:flex-row justify-between">
			<h3 class=" w-full mb-3 md:mb-0 md:w-1/2">2021 - 2024</h3>
			<div class="flex flex-col w-full md:w-1/2">
				<h3 class="text-3xl">Javascript Developer
					<span class="text-dark-500">at Journey Further</span>
				</h3>
				<p class="text-xl text-dark-400 mt-3">At Journey Further, my role required working in a sprint-based environment, developing front-end experimentational builds for multiple clients. This involved using vanilla JS, HTML, SCSS, nunjucks, with exposure to technologies such as TypeScript and NodeJS. This gave me a deepened understanding onto how to maintain my code to prepare for an uncertain user experience.</p>
			</div>
		</div>
	</div>
	<div class="pb-12 mt-12 border-b-[0.5px] border-dark-500">
		<div class="flex flex-col md:flex-row justify-between">
			<h3 class=" w-full mb-3 md:mb-0 md:w-1/2">2020 - 2021</h3>
			<div class="flex flex-col w-full md:w-1/2">
				<h3 class="text-3xl">React Developer
					<span class="text-dark-500">at Car Finance 24/7</span>
				</h3>
				<p class="text-xl text-dark-400 mt-3">My role at carfinance247 is to improve and explore potential UX capabilities with the current CRM system.
					
					I am working with technologies such as React, Redux, Adobe CC. While communicating with agents who use the system to manage and display customer data.</p>
			</div>
		</div>
	</div>
	<div class="pb-12 mt-12 border-b-[0.5px] border-dark-500">
		<div class="flex flex-col md:flex-row justify-between">
			<h3 class=" w-full mb-3 md:mb-0 md:w-1/2">2020 - 2021</h3>
			<div class="flex flex-col w-full md:w-1/2">
				<h3 class="text-3xl">Larvel Developer
					<span class="text-dark-500">at Marketing Lounge</span>
				</h3>
				<p class="text-xl text-dark-400 mt-3">My role at marketing lounge partnership was to develop marketing landing pages which could help engage users in a sign-up process. This could be for offers, or it could be an email signup for newsletters.
					
					This had utilized a custom CMS using Laravel, which I configured, then setup to help develop these pages. This then turned into a fully backend CMS which the admin team for that company could use to interact with their customers.</p>
			</div>
		</div>
	</div>
	<div class="pb-12 mt-12 border-b-[0.5px] border-dark-500">
		<div class="flex flex-col md:flex-row justify-between">
			<h3 class=" w-full mb-3 md:mb-0 md:w-1/2">2016 - 2020</h3>
			<div class="flex flex-col w-full md:w-1/2">
				<h3 class="text-3xl">Full-stack Developer
					<span class="text-dark-500">at Physio123</span>
				</h3>
				<p class="text-xl text-dark-400 mt-3">At Physio123 (Sister company to Nuttersons), one of my duties was to investigate the international SEO ranking within Physio123. I first combined five separate websites into one, to then change the ranking of these sites into a more traditional layout (e.g. /en-gb/), this aided the development process for future usage while also providing customers with a familiar view no matter which country they’re from.
					
					My other task was to develop a fluid cart system, which new customers could then use to customize then purchase their own web package. To do this I used jQuery Ajax alongside Laravel’s crud system to provide a dynamic interface for potential users of the site.</p>
			</div>
		</div>
	</div>
	<div class="pb-12 mt-12 border-b-[0.5px] border-dark-500">
		<div class="flex flex-col md:flex-row justify-between">
			<h3 class=" w-full mb-3 md:mb-0 md:w-1/2">2016 - 2020</h3>
			<div class="flex flex-col w-full md:w-1/2">
				<h3 class="text-3xl">Full-stack web developer
					<span class="text-dark-500">at Nuttersons</span>
				</h3>
				<p class="text-xl text-dark-400 mt-3">Started on a sandwich placement with the company in 2016 to then pursue a
					full-time role. My business role involved me working as part of a development
					team, while building a rapport with clients via email and phone.
					
					My technical role at the company is to design and develop bespoke projects,
					this may consist of bespoke WordPress themes, developing full-scale projects
					using Laravel or vanilla PHP, while working using front-end technologies such as
					HTML5, CSS3, SASS, Gulp and Git.</p>
			</div>
		</div>
	</div>
</section>
